.section__stages {
    margin-top: 64px;
    padding-bottom: 60px;
    &-title {
        margin-bottom: 40px;
        @include media-breakpoint-up(md) {
            margin-bottom: 64px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 122px;    
        }
    }
    &-row {
        @include media-breakpoint-up(xl) {
            margin: 0;
        }
    }
    &-col {
        @include media-breakpoint-up(xl) {
            padding: 0;
            &:not(:last-child) {
                .stages__progress {
                
                    &:after {
                        background: $primary;
                        content: '';
                        left: 42px;
                        top: 50%;
                        position: absolute;
                        width: 125px;
                        height: 1px;
    
                    }
                }
            }
            &:not(:first-child):not(:last-child) {
                .stages__title {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &:nth-child(odd) {
                .stages__title  {
                    top: -40px;
                }
            }
            &:nth-child(even) {
                .stages__title  {
                    bottom: -30px;
                }
            }
            
            &:last-child {
                .stages__title  {
                    right: 0;
                }
            }
        }
    }
}