// Colors
$primary: 		#1E86F5;
$white: 		#ffffff;
$dark:			#0E3263;
$light: 		#F6F7FB;
$gray:			#C8D0DD;




$enable-caret: 									false !default;
$enable-rounded: 								true !default;
$enable-shadows: 								false !default;
$enable-gradients: 								false !default;
$enable-transitions: 							true !default;
$enable-prefers-reduced-motion-media-query: 	true !default;
$enable-hover-media-query: 						true !default;
$enable-grid-classes: 							true !default;
$enable-pointer-cursor-for-buttons: 			true !default;
$enable-print-styles: 							true !default;
$enable-responsive-font-sizes: 					false !default;
$enable-validation-icons: 						false !default;
$enable-deprecation-messages: 					false !default;

// Button
$btn-primary-bg: 				#1E86F5;
$btn-primary-bg-hover: 			#1578E0;
$btn-primary-bg-active: 		#0054AF;
$btn-primary-bg-disabled: 		#63B4FF;
$btn-primary-color: 			#ffffff;
$btn-primary-color-disabled: 	#E1EFFB;

// Border radius
$border-radius: 	1rem;
$border-radius-xs: 	calc($border-radius * .5);
$border-radius-sm: 	calc($border-radius * .75);

// Fonts
$font-family-sans-serif: 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
	"Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif;

// Font weight
$font-weight-lighter: 	lighter !default;
$font-weight-light: 	300 !default;
$font-weight-normal: 	400 !default;
$font-weight-medium: 	500 !default;
$font-weight-semibold: 	600 !default;
$font-weight-bold: 		700 !default;
$font-weight-bolder: 	800 !default;
$font-weight-black: 	900 !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$headings-margin-bottom: 1rem !default;
$headings-font-family: 	null !default;
$headings-font-weight: 	$font-weight-bold !default;
$headings-line-height: 	1.2 !default;
$headings-color: 		null !default;

$paragraph-margin-bottom: 1rem !default;

$dt-font-weight: $font-weight-bold !default;

$h1-font-size-xl: $font-size-base * 2.5 !default;
$h1-font-size-lg: $font-size-base * 1.5 !default;
$h1-font-size-md: $font-size-base * 1.5 !default;
$h1-font-size-sm: $font-size-base * 1.25 !default;


$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1 !default;
$h5-font-size: $font-size-base * 1 !default;

// Links
$link-color: 			$primary !default;
$link-decoration: 		none !default;
$link-hover-color: 		darken($primary, 10%) !default;
$link-hover-decoration: none !default;

// Layout
$gutter: 10px;
$gutter-fluid: 4.0625vw;

// Label
$label-margin-bottom: 0.5rem !default;

// Form
$form-border-color: rgba($gray, .4);
$input-padding-y: 1rem;
$input-padding-x: 1.4rem;

// Transition
$transition-base: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;
$transition-fade: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;
$transition-collapse-width: width 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;
$transition-bg: background-color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;
$transition-shadow: box-shadow 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;

// Shadow
$card-shadow: 0px 3px 10px rgba(0, 99, 206, 0.1), 0px 1px 18px rgba(84, 109, 145, 0.08);

// Spacers
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
	(
		0: 0,
		1: $spacer * 0.25,
		2: $spacer * 0.5,
		3: $spacer,
		4: $spacer * 1.5,
		5: $spacer * 3,
	),
	$spacers
);

// Grid
$grid-breakpoints: (
	xs: 0,
	md: 768px,
	lg: 915px,
	xl: 1248px,
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;
$container-max-widths: (
	md: 704px,
	lg: 895px,
	xl: 1228px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Display
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;